body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#horizontal-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #757575;
    margin: 1em 1em;
    padding: 0;
}

#main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.github-article {
    margin-left: 10px;
    margin-top: 10px;
}

a {
    display: block;
    text-decoration: none;
    padding-top: 5px;
    color: #303030;
}

a:hover{
    color: #8c8787;
}

a:visited {
    color: green;
}

a:active {
    color: yellow;
}

#kappa {
    display: block;
}

#kappa-reality {
    float: right;
}