body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #565d65;
}

/* 
 * HEADER
 **/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#horizontal-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #757575;
    margin: 1em 0em;
    padding: 0;
}

#header-section {
    text-align: right;
}

#header-name {
    margin-bottom: 0px;
}

#header-subhead {
    margin-top: 0px;
}

.edited-headers {
    text-transform: uppercase;
    font-weight: normal;
}

/* 
 * MAIN
 **/

#main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-image {
    width: 100%;
    height: 400px;
}

.github-article {
    margin-top: 10px;
    flex-basis: 33.3%;
}

a {
    display: block;
    text-decoration: none;
    padding-top: 5px;
    color: #16181b;
}

a:hover {
    color: #171a20;
}

a:visited {
    color: #141a25;
}

a:active {
    color: #1d283d;
}

.round-image {
    border-radius: 5%;
}

.projects-header {
    text-align: center;
}

/*
 * NEXUS 5 MODE 
 */

@media screen and (max-width: 360px) {
    #header-name {
        font-size: 25px;
    }

    #header-subhead {
        font-size: 15px;
    }

    #logo-image {
        width: 100px;
        height: 100px;
    }

    #horizontal-line {
        margin: 0.5em 0em;
    }

    #logo-image {
        width: 100px;
        height: 100px;
    }
}




/*
 * iPAD MODE 
 */

@media screen and (min-width: 361px) and (max-width: 979px) {
    #header-name {
        font-size: 50px;
    }

    #header-subhead {
        font-size: 40px;
    }

    #logo-image {
        width: 190px;
        height: 190px;
    }
}




/*
 * DESKTOP MODE 
 */

@media screen and (min-width: 980px) {
    body {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    #logo-image {
        width: 200px;
        height: 200px;
    }

    #header-name {
        font-size: 60px;
    }

    #header-subhead {
        font-size: 40px;
    }
}