body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #565d65;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#horizontal-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #757575;
    margin: 1em 0em;
    padding: 0;
}

#header-section {
    text-align: right;
}

#header-name {
    margin-bottom: 0;
}

#header-subhead {
    margin-top: 0;
}

.edited-headers {
    text-transform: uppercase;
    font-weight: normal;
}

/* Main */
#main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-image {
    width: 100%;
}

.github-article {
    margin-top: 10px;
    margin-bottom: 15px;
}

a {
    display: block;
    text-decoration: none;
    padding-top: 5px;
    color: #16181b;
}

a:hover {
    color: #171a20;
}

a:visited {
    color: #141a25;
}

a:active {
    color: #1d283d;
}

.gihub-image {
    border-radius: 5%;
}

.projects-header {
    text-align: center;
}

.link-text {
    font-size: 1.1em;
}



/* Nexus 5 */
@media screen and (max-width: 420px) {
    #header-name {
        font-size: 22px;
    }

    #header-subhead {
        font-size: 13px;
    }

    #horizontal-line {
        margin: 0.5em 0em;
    }

    #logo-image {
        width: 85px;
        height: 85px;
    }

    .projects-header {
        margin-bottom: 0;
        font-size: 1em;
    }

    .link-text {
        font-size: 0.9em;
    }

    #main-section {
        justify-content: center;
    }

    #main-projects-header {
        font-size: 1.5em;
    }

    .github-article {
        max-width: 70%;
    }
}

@media screen and (min-width: 421px) and (max-width: 559px) {
    #header-name {
        font-size: 30px;
    }

    #header-subhead {
        font-size: 20px;
    }

    #logo-image {
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width: 560px) and (max-width: 669px) {
    #header-name {
        font-size: 40px;
    }

    #header-subhead {
        font-size: 30px;
    }

    #logo-image {
        width: 170px;
        height: 170px;
    }
}

/* iPad */
@media screen and (min-width: 670px) and (max-width: 1019px) {
    #header-name {
        font-size: 50px;
    }

    #header-subhead {
        font-size: 40px;
    }

    #logo-image {
        width: 190px;
        height: 190px;
    }

    .github-article {
        max-width: 300px;
    }

    #main-section {
        justify-content: space-around;
    }
}

/* Desktop */
@media screen and (min-width: 1020px) {
    body {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    #logo-image {
        width: 200px;
        height: 200px;
    }

    #header-name {
        font-size: 60px;
    }

    #header-subhead {
        font-size: 40px;
    }

    #main-section {
        justify-content: space-between;
    }

    .github-article {
        max-width: 33.3%;
    }
}